// Миксины 

@mixin filterLeft {
    p {
        text-transform: uppercase;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    img{
        padding-top: 3px;
    }
}

@mixin filterRight {
    img {
        padding-left: 10px;
        padding-top: 6px;
    }
    p {
        text-transform: uppercase;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    a {
        text-decoration: none;
    }
}

@mixin pages {
    img {
        padding-top: 11px;
        padding-left: 7px;
    }
    p {
        padding-top: 7px;
        padding-left: 21px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.4;
    }
}
// .catalog 

.catalog {
    min-height: 2022px;
}
.catalog__filter {
    margin-top: 51px;
    max-width: 670px;
    display: flex;
    justify-content: space-between;

    .catalog__filter a {
        text-decoration: none;
    }
}

.catalog__fiterLeftSide {
    min-width: 70px;
    display: flex;
    justify-content: space-between;
    @include filterLeft;
}

.catalog__fiterRightSide {
    min-width: 296px;
    display: flex;
    justify-content: space-between;

    .catalog__parameter {
        display: flex;
        justify-content: space-between;
        @include filterRight;
    }
}

.catalog__items {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

//catalog pages 

.catalog__pages {
    margin: 0 auto;
    max-width: 283px;
    min-height: 43px;
    margin-top: 48px;
    display: flex;
    border: 1px solid #EBEBEB;
    @include pages;
}

.catalog__pageNum {
    display: flex;
    justify-content: space-between;
    min-width: 240px;
    padding-right: 11px;

    &.catalog__pageNum a {
        text-decoration: none;
        color: #6F6E6E;
    }

    &.catalog__pageNum p:last-child {
        padding-left: 0;
    }
}

#catalog__pageNum__active{
    color: #EF5B70;
    opacity: 1;
    font-weight: 400;
}

#ellipsis {
    padding-left: 0;
}

