// Миксины 

@mixin feedback-text {
    p {
        padding-top: 32px;
        min-width: 359px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
    }
    span {
        font-style: italic;
    }
}

@mixin subscribe-text {
    p {
        min-width: 557px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #222224;
        text-transform: uppercase;
    }
    span {
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
    }
}

@mixin form-common {

    padding-left: 22px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    
}

.feedbackSubscribe {
    background: url(../images/photo_subscribe.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
}
.feedbackSubscribe__container {
    min-height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
}
.feedbackSubscribe__feedback {
    max-width: 360px;
    min-height: 249px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include feedback-text;
}

.feedbackSubscribe__subscribe {
    min-width: 557px;
    min-height: 143px;

    @include subscribe-text;
}

.feedbackSubscribe__subscribe__form {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.feedbackSubscribe__subscribe__form input[type="email"] {
    width: 256px;
    height: 49px;
    border-radius: 20px 0 0 20px;
    background: #E1E1E1;
    @include form-common;
    color: #222224;
    opacity: 0.67;
}
.feedbackSubscribe__subscribe__form input[type="submit"] {
    width: 100px;
    height: 49px;
    border-radius: 0 20px 20px 0;
    background: #F16D7F;
    @include form-common;
    color: #FFFFFF;
}
.feedbackSubscribe__subscribe__form input[type="submit"]:hover {
    cursor: pointer;
}